<div class="article">
  <h4 class="text-dark">Current Devices Registered for Venue: XXXXXX</h4>

  <div class="col-4">
    <table class="noStyle mt-25">
      <thead>
      <tr>
        <th class="col-2">ID</th>
        <th class="col-10">Description</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <div class="field">
            <input type="text" value="1"/>
          </div>
        </td>
        <td>
          <div class="field">
            <input type="text" value="1"/>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="field">
            <input type="text" value="1"/>
          </div>
        </td>
        <td>
          <div class="field">
            <input type="text" value="1"/>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="field">
            <input type="text" value="1"/>
          </div>
        </td>
        <td>
          <div class="field">
            <input type="text" value="1"/>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="field">
            <input type="text" value="1"/>
          </div>
        </td>
        <td>
          <div class="field">
            <input type="text" value="1"/>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <button class="btn green mt-5">Add new device</button>
  </div>
</div>

<div class="article">
  <div class="col-4">
    <table class="noStyle">
      <thead>
      <tr>
        <th class="col-12">Doshii location ID</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <div class="field">
            <input type="password" value="12345678"/>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <p class="mt-5">Before you get started you need to enter your Doshii Location ID. <br> Please contact your POS Provider for this information.</p>
  </div>
</div>

<div class="article last-child">
  <h4>Meal Periods</h4>
  <p class="mt-10">Configure your serving period times (maximum 4) in order to capture statistical data and display orders for the current serving period.</p>

  <div class="col-4">
    <table class="noStyle mt-20">
      <thead>
      <tr>
        <th class="col-2">ID</th>
        <th class="col-7">Description</th>
        <th class="col-3">Start time</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <div class="field">
            <input type="text" value="1"/>
          </div>
        </td>
        <td>
          <div class="field">
            <input type="text" value="Breakfast"/>
          </div>
        </td>
        <td>
          <div class="field">
            <input type="text" value="630"/>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="field">
            <input type="text" value="1"/>
          </div>
        </td>
        <td>
          <div class="field">
            <input type="text" value="Breakfast"/>
          </div>
        </td>
        <td>
          <div class="field">
            <input type="text" value="630"/>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="field">
            <input type="text" value="1"/>
          </div>
        </td>
        <td>
          <div class="field">
            <input type="text" value="Breakfast"/>
          </div>
        </td>
        <td>
          <div class="field">
            <input type="text" value="630"/>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="field">
            <input type="text" value="1"/>
          </div>
        </td>
        <td>
          <div class="field">
            <input type="text" value="Breakfast"/>
          </div>
        </td>
        <td>
          <div class="field">
            <input type="text" value="630"/>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Page Meta -->
<div class="pageMeta flex align-center justify-end">
  <button class="btn green">Save Changes</button>
</div>
